* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* common css */
.container {
  max-width: 1140px;
  margin: auto;
}

.orange {
  color: #e95a08;
}
.gray01 {
  color: #8987a1;
}

/* header section  start*/

.navbar {
  padding: 30px 0;
}

.banner {
  margin: 120px 0;
}

.banner-sub-title {
  margin-top: 15px;
}

/* plants section start*/
.plants-section {
  margin: 120px auto;
}
.plants-sub-title {
  margin: 20px auto;
}

.flower-name {
  margin-top: 30px;
}
.add-to-cart {
  padding: 15px 0;
  margin-top: 30px;
}

/* plants lover section start */
.lover-subtitle-list {
  margin-top: 30px;
}

.lover-subtitle {
  margin: 0 0 20px 45px;
}

/* latest deals section start*/
.latest-deals {
  margin: 120px auto;
}
.deals-sub-title {
  margin: 20px auto;
}

.offer-bg-shadow {
  padding: 65px 0;
}

.offer-btn {
  padding-top: 20px;
  padding-bottom: 0;
}

.deals-offers {
  margin: 120px 0;
}
/* join section starts */

.join-section {
  padding: 200px 0;
}

.join-input {
  margin-top: 25px;
}

.join-input [type="email"] {
  padding: 20px 20px;
}

.join-input button {
  padding: 20px 50px;
}

/* footer start */

.footer{
  padding: 50px 0;
}

/* responsive */
@media screen and (max-width: 640px) {
  .navbar {
    margin-top: 20px;
  }
  .navbar,
  .banner-left,
  .plants-section,
  .plants-lover,
  .latest-deals {
    padding: 0 16px;
  }
  .banner {
    margin: 0;
  }
  .banner-right {
    margin: 28px 0;
  }

  .plants-section {
    margin: 40px 0;
  }

  .lover-subtitle {
    margin: 0 0 20px 25px;
  }

  .lover-subtitle-list {
    margin-top: 20px;
  }

  .latest-deals {
    margin-bottom: 40px ;
  }

  .deals-offers {
    margin: 40px 0;
  }
  .join-input [type="email"] {
    padding: 20px 20px;
  }
  .join-input button {
    padding: 20px 20px;
  }

  .join-section {
    padding: 110px 0 68px 0;
  }

  .footer{
    padding: 50px 16px;
  }
}
